<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FirebaseAdmin" version="1.9.1" targetFramework="xamarinios10" />
  <package id="FireSharp" version="2.0.4" targetFramework="xamarinios10" />
  <package id="Google.Api.Gax" version="2.7.0" targetFramework="xamarinios10" />
  <package id="Google.Api.Gax.Rest" version="2.7.0" targetFramework="xamarinios10" />
  <package id="Google.Apis" version="1.40.0" targetFramework="xamarinios10" />
  <package id="Google.Apis.Auth" version="1.40.0" targetFramework="xamarinios10" />
  <package id="Google.Apis.Core" version="1.40.0" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="xamarinios10" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="xamarinios10" />
  <package id="NLog" version="4.6.8" targetFramework="xamarinios10" />
  <package id="Plugin.Share" version="7.1.1" targetFramework="xamarinios10" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="xamarinios10" />
  <package id="System.Interactive.Async" version="3.2.0" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Connectivity" version="3.2.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="4.3.0.991221" targetFramework="xamarinios10" />
  <package id="Xamarin.Swift4" version="4.0.0.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Swift4.MapKit" version="4.2.1.1" targetFramework="xamarinios10" />
</packages>